/********************
         NAV
********************/
nav {
    background: var(--steel);
    border-radius: 10px;
    padding: 25px;
    width: 25%;
    height: 75%;
    display: none;
    position: relative;
}

nav #close-nav-btn {
    background: none;
    outline: none;
    border: none;
    position: absolute;
    top: 13px;
    right: 21px;
    font-size: 20px;
    font-family: 'DM Mono', monospace;
    color: white;
    text-decoration: underline;
}

nav > ul {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 26px 0 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 26px);
}

nav li {
    list-style: none;
    border-radius: 5px;
    padding: 10px;
}

nav li:hover {
    background: var(--light-grey);
}

li ul li:hover {
    text-decoration: underline;
}

nav li,
nav a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

nav .variant {
    position: relative;
    top: -1px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

nav .alt-url {
    margin: 0;
}